<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Splashscreen"
        android:supportsRtl="true"
        android:theme="@style/Theme.OMG"
        android:usesCleartextTraffic="true"> <!-- ✅ Permitir HTTP -->

        <!-- SplashActivity como pantalla inicial -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.SplashInstant"
            android:exported="true"
            android:windowDisablePreview="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".MainActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".PhoneLoginActivity" android:exported="false"/>
        <activity android:name=".VerifyCodeActivity" android:exported="false"/>
        <activity android:name=".ServiceSelectionActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".HomeActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".LocationConfirmationActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".ProvidersListActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".ProviderDetailActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".NotificationsActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".RatingActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".EditServicesActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".SearchActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>

        <!-- Nuevas actividades para validación facial -->
        <activity android:name=".PromoTrabajadorActivity" android:exported="true" android:screenOrientation="portrait"/>
        <activity android:name=".FaceValidationActivity" android:exported="true" android:screenOrientation="portrait"/>
        <activity android:name=".FormularioRegistroActivity" android:exported="true"/>
        <activity android:name=".TrabajadorHomeActivity" android:exported="false" android:screenOrientation="portrait"/>

        <activity
            android:name=".AiAssistantActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

    </application>

</manifest>