# Default ignored files
/shelf/
/workspace.xml
# Archivos generados por el sistema de construcción
*.apk
*.aab
*.ap_
*.dex
*.class
/build/

# Archivos generados por IDEs (Android Studio)
.idea/
.gradle/
local.properties
*.iml

# Archivos de sistema operativo
.DS_Store
Thumbs.db